<div class = "form-froup row">

    
    <div>
        <div>
        <label class ="col-sm-2 col-form-label">login</label>
        <input type="text" class="form-control"  [(ngModel)] = "login"
        placeholder="Digite o nome do login">
        </div>
        <div>
        <label class ="col-sm-2 col-form-label">follower</label>
        <input type="text" class="form-control" [(ngModel)] = "follower" 
        placeholder="Digite quantos seguidores">
        </div>

        <div>
        <label class ="col-sm-2 col-form-label"> publicRepo</label>
        <input type="text" class="form-control" [(ngModel)] = "publicRepo" 
        placeholder="Digite quantos repositorios">
        </div>

        
        <button (click)="addPessoa()" *ngIf="pes.id ==0" class="btn btn-primary" >
            Add
        </button> 
        
        <button (click)="updatePessoa()" *ngIf ="pes.id != 0"  class="btn btn-primary" >
            Update
        </button> 
    </div>

    
</div>
