
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary - float-right m-2" 
 data-toggle="modal" data-target="#exampleModal" 
 (click)="addClick()"
 data-backdrop="static" data-keyboard="false" >
  Add Pessoa
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-pessoa-add-edit-pes [pes] = "pes" *ngIf="ActivateAddEditPesComp">

            </app-pessoa-add-edit-pes>
        </div>
      </div>
    </div>
  </div>



<table class="table table-striped">
    <thead> 
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>cpf</th>
            <th>dataNascimento</th>
            <th>email</th>
            <th>genero</th>
            <th>naturalidade</th>
            <th>nacionalidade</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let dataItem of persons">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.nome}}</td>
            <td>{{dataItem.cpf}}</td>
            <td>{{dataItem.email}}</td>
            <td>{{dataItem.dataNascimento}}</td>
            <td>{{dataItem.genero}}</td>
            <td>{{dataItem.naturalidade}}</td>
            <td>{{dataItem.nacionalidade}}</td>
            <td>
               <button type="button" class="btn btn-primary - float-right m-2" 
                data-toggle="modal" data-target="#exampleModal" 
                 (click)="aditClick(dataItem)"
                 data-backdrop="static" data-keyboard="false" >
                 Adit 
            </button>
   
            <button type="button" class="btn btn-light mr-1"
            
                (click)="deleteClick(dataItem.cpf)"
                >
                    Delete
                </button>
            </td>
        </tr>
        
    </tbody>

</table>
